body {
  font-family: "Ubuntu", sans-serif;
  background-color: #36454f;
}

/* social media icons */
.social-media a {
  font-size: 3rem;
  padding: 1rem;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-instagram {
  color: #405de6;
}
.fa-youtube {
  color: #ff0000;
}
/* hover effects */

/* Carousel */
.carousel-inner > .carousel-item {
    height: 90vh;
 }
/* Overridden Bootstrap classes */
.carousel-item {
    background-color: #4062BB;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}