body {
  font-family: "Ubuntu", sans-serif;
  background-color: #4062BB;
}
/* Bootstrap: remove default padding */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
/* Navbar logo */
.logo {
    margin-right: 0.5rem;
}
/* Carousel */
.carousel-inner > .carousel-item {
    height: 90vh;
}
.carousel-item {
    background-color: #4062BB;
}
/* Carousel images */
.carousel-item img {
    height: 30vh;
    border-radius: 50%;
}
/* https://www.w3schools.com/cssref/pr_background-attachment.asp */
.tutors {
    background-image: url("../images/heads-thinking.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    background-color: #4062BB;
    margin-bottom: 2rem;
    width: 22rem;
    height: 100%;
    border-radius: 1rem;
}
.tutors .col-auto {
    padding-bottom: 2rem;
}
/* Tutors card images */
.card-img-top {
    border-radius: 50%;
    padding: 1rem 1rem;
}
/* social media icons */
.social-media a {
  font-size: 3rem;
  padding: 1rem;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-twitter-square {
  color: #1da1f2;
}
.fa-instagram {
  color: #405de6;
}
.fa-youtube {
  color: #ff0000;
}
/* hover effects */
