body {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  background-color: #4062bb;
}
a:hover {
    text-decoration: none;/*no anchor links should not underline on hover*/
}
/***************************************************************************** NAVBAR */
/* Navbar logo */
.logo {
    margin-right: 0.5rem;
}
/***************************************************************************** CAROUSEL */
/* set carousel-item height */
.carousel-inner > .carousel-item {
    height: 95vh;
}
.carousel-item {
    padding-top: 4rem; /* padding above carousel images */
    background-color: #4062bb;
}
/* Carousel images */
.carousel-item img {
    height: 25vh;
    border-radius: 50%;/* rounded images */
}
.carousel-item .row {
    height: inherit; /* inherited from carousel-item */
}
/* heading text */
.carousel-item h2 {
    padding: 1rem 1rem;
}
/* icon<->h2 padding */
.carousel-item h2 i {
    padding-right: 0.5rem;
}
.carousel-indicators {
    margin-bottom: 1rem;
}
/* 'start learning', 'book a session' buttons */
.btn-start-learning, .btn-book-session {
    margin-top: 1rem;
    box-shadow: 5px 5px 10px #212529;
}
/***************************************************************************** TUTOR CARDS */
/* https://www.w3schools.com/cssref/pr_background-attachment.asp */
#tutors>h2,
#tutors>p {
    color: #212121;
}
#tutors {
    padding-top: 2rem;
    background-image: url("../images/heads-thinking.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.card {
    background-color: #4062bb;
    margin-bottom: 2rem;
    width: 22rem;
    height: 100%;/*all cards are the same height*/
    border-radius: 1rem;
}
#tutors .col-auto {
    padding-bottom: 2rem;/*gap between card rows, if more tutors are added*/
}
/* Tutors card images */
.card-img-top {
    border-radius: 50%;
    padding: 1rem 1rem;
}
/* social media */
footer {
    padding-top: 2rem;
}
/* social media icons */
.social-media a {
    font-size: 3rem;
    padding: 1rem;
}
.fa-facebook-square {
    color: #4267b2;
}
.fa-twitter-square {
    color: #1da1f2;
}
.fa-instagram {
    color: #405de6;
}
.fa-youtube {
    color: #ff0000;
}
/***************************************************************************** COPYRIGHT */
.copyright {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #abbbc6;
}
/***************************************************************************** START LEARNING */
#learning {
    padding-top: 3rem;
}
#learning p {
    padding-bottom: 2rem;
}
.english {
    background-color: #0288d1;
    padding: 0.5rem 0 0.5rem 0;
}
#word-list audio {
    margin-top: 0.5rem;
}
.chevron {
    color: #757575;
    padding: 0 0.5rem 0 0.5rem;
}
.norwegian {
    background-color: #c62828;
    padding: 0.5rem 0 0.5rem 0;
}
audio {
    height: 20px;/*reduce height of audio player*/
    width: 220px;
}
.word-container {
    border-radius: 8px;
    background-color: #343a40;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.word-list-margin-bottom {
    margin-bottom: 0.8rem;
}
/***************************************************************************** BOOK A SESSION */
#book-a-session {
    padding-top: 3rem;
}
#book-a-session p {
    padding-bottom: 2rem;
}
.session-form-padding {
    padding-top: 1rem;
}
#book-a-session form button {
    margin-top: 1rem;
}
/* date picker https://codepen.io/maheshambure21/pen/VYJQYG */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
#book-a-session input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 6px 6px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 250px;
}
#book-a-session select {
    width: 250px;
}
#book-a-session label {
    width: 120px;
}
/***************************************************************************** CONTACT US */
#contact-us {
    padding-top: 3rem;
}
.submit-button {
    text-align: center;
    margin-top: 1rem;
}
#contact-form p {
    padding-bottom: 2rem;
}
/* input-group-prepend equal width https://www.codeply.com/go/wv5NMmTgwq/bootstrap-4-input_group-prepend-equal-width */
.input-group>.input-group-prepend {
    flex: 0 0 6%;
}
.input-group .input-group-text {
    width: 100%;
}
#contact-form .input-group {
    padding-bottom: 1rem;
}
/***************************************************************************** HOVER EFFECTS */
/* Underline From Center */
.hvr-underline-from-center:before {
    background: rgba(251, 77, 61, 1);
    height: 2px;
    left: 55%;
    right: 55%
}
